USE [master]
GO
/****** Object:  Database [tsms]    Script Date: 5/17/2017 12:19:48 PM ******/
CREATE DATABASE [tsms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tsms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\tsms.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tsms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\tsms_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tsms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tsms]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Answers]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [nvarchar](max) NULL,
	[QuestionId] [int] NOT NULL,
	[StuAns] [int] NOT NULL,
	[ExamId] [int] NOT NULL,
	[Result] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Answers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Batches]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batches](
	[batch_code] [nvarchar](700) NOT NULL,
	[name] [nvarchar](700) NOT NULL,
	[batch_starting_date] [datetime] NOT NULL,
	[admission_last_date] [datetime] NOT NULL,
	[room_number] [int] NOT NULL,
	[faculty_name] [nvarchar](500) NOT NULL,
	[amount] [int] NOT NULL,
	[details] [nvarchar](1000) NOT NULL,
	[routine] [nvarchar](700) NOT NULL,
 CONSTRAINT [PK_dbo.Batches] PRIMARY KEY CLUSTERED 
(
	[batch_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courses]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[name] [nvarchar](700) NOT NULL,
	[vendor_heading] [nvarchar](700) NOT NULL,
	[code] [nvarchar](200) NOT NULL,
	[pic_path] [nvarchar](1000) NOT NULL,
	[adding_date] [datetime] NOT NULL,
	[details] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExamAssigns]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamAssigns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](max) NULL,
	[ExamID] [int] NOT NULL,
	[gotMark] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ExamAssigns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exams]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Course] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[StartTime] [nvarchar](max) NULL,
	[FinishTime] [nvarchar](max) NULL,
	[QuestionMaker] [nvarchar](max) NULL,
	[TotalQues] [int] NOT NULL,
	[MarkPerQues] [real] NOT NULL,
	[ExamState] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Exams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Financeofinstructors]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financeofinstructors](
	[InstructorId] [int] NOT NULL,
	[instructorName] [nvarchar](100) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[monthlyPayment] [int] NOT NULL,
	[netTotal] [int] NOT NULL,
	[totalPaid] [int] NOT NULL,
	[due] [int] NOT NULL,
	[lastTrunsaction] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Financeofinstructors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Financeofstudents]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financeofstudents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](12) NOT NULL,
	[batch_code] [nvarchar](700) NOT NULL,
	[debit] [int] NOT NULL,
	[credit] [int] NOT NULL,
	[balance] [int] NOT NULL,
	[lastTrunsaction] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Financeofstudents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[InstructorId] [int] IDENTITY(1,1) NOT NULL,
	[faculty_name] [nvarchar](100) NOT NULL,
	[name] [nvarchar](700) NULL,
	[batch_code] [nvarchar](700) NULL,
	[pic_path] [nvarchar](700) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[company_name] [nvarchar](max) NULL,
	[city] [nvarchar](max) NULL,
	[phone_number] [int] NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[zip_code] [int] NOT NULL,
	[nationality] [nvarchar](30) NOT NULL,
	[sex] [nvarchar](max) NOT NULL,
	[religion] [nvarchar](30) NOT NULL,
	[blood_group] [nvarchar](50) NOT NULL,
	[dob] [datetime] NOT NULL,
	[faculty_activation_date] [datetime] NOT NULL,
	[faculty_inactivation_date] [datetime] NULL,
	[faculty_active] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Instructors] PRIMARY KEY CLUSTERED 
(
	[InstructorId] ASC,
	[faculty_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Questions]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionTitle] [nvarchar](max) NULL,
	[QuestionNumber] [int] NOT NULL,
	[Option1] [nvarchar](max) NULL,
	[Option2] [nvarchar](max) NULL,
	[Option3] [nvarchar](max) NULL,
	[Option4] [nvarchar](max) NULL,
	[Option5] [nvarchar](max) NULL,
	[CorrectAns] [int] NOT NULL,
	[ExamID] [int] NOT NULL,
	[mark] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Studentassignbatches]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studentassignbatches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](12) NOT NULL,
	[name] [nvarchar](700) NOT NULL,
	[batch_code] [nvarchar](700) NOT NULL,
	[status] [nvarchar](max) NOT NULL,
	[completion_date] [datetime] NULL,
 CONSTRAINT [PK_dbo.Studentassignbatches] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](12) NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[pic_path] [nvarchar](700) NOT NULL,
	[company_name] [nvarchar](max) NULL,
	[city] [nvarchar](max) NULL,
	[phone_number] [int] NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[zip_code] [int] NOT NULL,
	[nationality] [nvarchar](30) NOT NULL,
	[sex] [nvarchar](max) NOT NULL,
	[religion] [nvarchar](20) NOT NULL,
	[blood_group] [nvarchar](50) NOT NULL,
	[dob] [datetime] NOT NULL,
	[user_activation_date] [datetime] NOT NULL,
	[user_deactivation_date] [datetime] NULL,
	[user_active] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.UserDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [nvarchar](12) NOT NULL,
	[password] [nvarchar](20) NOT NULL,
	[level] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 5/17/2017 12:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[heading] [nvarchar](700) NOT NULL,
	[pic_path] [nvarchar](1000) NOT NULL,
	[adding_date] [datetime] NOT NULL,
	[body] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Vendors] PRIMARY KEY CLUSTERED 
(
	[heading] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Batches] ([batch_code], [name], [batch_starting_date], [admission_last_date], [room_number], [faculty_name], [amount], [details], [routine]) VALUES (N'CCNA Security-1', N'CCNA Security', CAST(N'2017-05-01T00:00:00.000' AS DateTime), CAST(N'2017-04-20T00:00:00.000' AS DateTime), 4043, N'Imran chowdhury', 15000, N'this is a ccna course.', N'Sunday-10:10 PM to 10:10 PM and Tuesday-10:10 PM to 10:10 PM')
INSERT [dbo].[Batches] ([batch_code], [name], [batch_starting_date], [admission_last_date], [room_number], [faculty_name], [amount], [details], [routine]) VALUES (N'CCNA Security-2', N'CCNA Security', CAST(N'2017-08-25T00:00:00.000' AS DateTime), CAST(N'2017-08-02T00:00:00.000' AS DateTime), 5053, N'Imran chowdhury', 20000, N'this is a ccna course.', N'Wednesday-10:10 PM to 10:10 PM')
INSERT [dbo].[Batches] ([batch_code], [name], [batch_starting_date], [admission_last_date], [room_number], [faculty_name], [amount], [details], [routine]) VALUES (N'JNCSP-SEC-1', N'JNCSP-SEC', CAST(N'2017-12-25T00:00:00.000' AS DateTime), CAST(N'2017-10-25T00:00:00.000' AS DateTime), 4042, N'Nayan chowdhury', 12000, N'this is a juniper course.', N'Sunday-10:10 PM to 10:10 PM and Tuesday-10:10 PM to 10:10 PM')
INSERT [dbo].[Courses] ([name], [vendor_heading], [code], [pic_path], [adding_date], [details]) VALUES (N'JNCSP-SEC', N'JUNIPER', N'JNCSP-SEC 3032', N'~/Content/img/tsms/default/Juniper_JNCSP-SEC.png', CAST(N'2017-05-13T13:15:21.183' AS DateTime), N'The Juniper Networks Certification Program (JNCP) Junos Security certification track is a program that allows participants to demonstrate competence with Juniper Networks technology. Successful candidates demonstrate thorough understanding of security technology in general and Junos software for SRX Series devices.')
SET IDENTITY_INSERT [dbo].[Financeofstudents] ON 

INSERT [dbo].[Financeofstudents] ([id], [UserId], [batch_code], [debit], [credit], [balance], [lastTrunsaction]) VALUES (1, N'13-24519-2', N'CCNA Security-1', 15000, 2000, 13000, CAST(N'2017-05-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Financeofstudents] ([id], [UserId], [batch_code], [debit], [credit], [balance], [lastTrunsaction]) VALUES (2, N'13-24519-2', N'Oracle Database 12c-1', 16000, 0, 16000, CAST(N'2017-05-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Financeofstudents] OFF
SET IDENTITY_INSERT [dbo].[Instructors] ON 

SET IDENTITY_INSERT [dbo].[Instructors] OFF
SET IDENTITY_INSERT [dbo].[Studentassignbatches] ON 

INSERT [dbo].[Studentassignbatches] ([id], [UserId], [name], [batch_code], [status], [completion_date]) VALUES (1, N'13-24519-2', N'CCNA Security', N'CCNA Security-1', N'in progress', NULL)
INSERT [dbo].[Studentassignbatches] ([id], [UserId], [name], [batch_code], [status], [completion_date]) VALUES (2, N'13-24519-2', N'Oracle Database 12c', N'Oracle Database 12c-1', N'in progress', NULL)
SET IDENTITY_INSERT [dbo].[Studentassignbatches] OFF
SET IDENTITY_INSERT [dbo].[UserDetails] ON 

SET IDENTITY_INSERT [dbo].[UserDetails] OFF
INSERT [dbo].[Users] ([UserId], [password], [level]) VALUES (N'13-24519-2', N'student', N'student')
INSERT [dbo].[Users] ([UserId], [password], [level]) VALUES (N'13-2451922-2', N'admin', N'admin')
INSERT [dbo].[Vendors] ([heading], [pic_path], [adding_date], [body]) VALUES (N'JUNIPER', N'~/Content/img/tsms/default/junifer.jpg', CAST(N'2017-05-13T13:15:21.183' AS DateTime), N'Juniper Networks is an American multinational corporation headquartered in Sunnyvale, California that develops and markets networking products. Its products include routers, switches, network management software, network security products and software-defined networking technology.')
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_name]    Script Date: 5/17/2017 12:19:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_name] ON [dbo].[Batches]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_vendor_heading]    Script Date: 5/17/2017 12:19:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_vendor_heading] ON [dbo].[Courses]
(
	[vendor_heading] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_InstructorId_instructorName]    Script Date: 5/17/2017 12:19:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_InstructorId_instructorName] ON [dbo].[Financeofinstructors]
(
	[InstructorId] ASC,
	[instructorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_batch_code]    Script Date: 5/17/2017 12:19:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_batch_code] ON [dbo].[Financeofstudents]
(
	[batch_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/17/2017 12:19:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Financeofstudents]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_batch_code]    Script Date: 5/17/2017 12:19:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_batch_code] ON [dbo].[Instructors]
(
	[batch_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_name]    Script Date: 5/17/2017 12:19:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_name] ON [dbo].[Instructors]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_batch_code]    Script Date: 5/17/2017 12:19:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_batch_code] ON [dbo].[Studentassignbatches]
(
	[batch_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_name]    Script Date: 5/17/2017 12:19:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_name] ON [dbo].[Studentassignbatches]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/17/2017 12:19:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Studentassignbatches]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/17/2017 12:19:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserDetails]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Batches_dbo.Courses_name] FOREIGN KEY([name])
REFERENCES [dbo].[Courses] ([name])
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [FK_dbo.Batches_dbo.Courses_name]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.Vendors_vendor_heading] FOREIGN KEY([vendor_heading])
REFERENCES [dbo].[Vendors] ([heading])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.Vendors_vendor_heading]
GO
ALTER TABLE [dbo].[Financeofinstructors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Financeofinstructors_dbo.Instructors_InstructorId_instructorName] FOREIGN KEY([InstructorId], [instructorName])
REFERENCES [dbo].[Instructors] ([InstructorId], [faculty_name])
GO
ALTER TABLE [dbo].[Financeofinstructors] CHECK CONSTRAINT [FK_dbo.Financeofinstructors_dbo.Instructors_InstructorId_instructorName]
GO
ALTER TABLE [dbo].[Financeofstudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Financeofstudents_dbo.Batches_batch_code] FOREIGN KEY([batch_code])
REFERENCES [dbo].[Batches] ([batch_code])
GO
ALTER TABLE [dbo].[Financeofstudents] CHECK CONSTRAINT [FK_dbo.Financeofstudents_dbo.Batches_batch_code]
GO
ALTER TABLE [dbo].[Financeofstudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Financeofstudents_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Financeofstudents] CHECK CONSTRAINT [FK_dbo.Financeofstudents_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Instructors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Instructors_dbo.Batches_batch_code] FOREIGN KEY([batch_code])
REFERENCES [dbo].[Batches] ([batch_code])
GO
ALTER TABLE [dbo].[Instructors] CHECK CONSTRAINT [FK_dbo.Instructors_dbo.Batches_batch_code]
GO
ALTER TABLE [dbo].[Instructors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Instructors_dbo.Courses_name] FOREIGN KEY([name])
REFERENCES [dbo].[Courses] ([name])
GO
ALTER TABLE [dbo].[Instructors] CHECK CONSTRAINT [FK_dbo.Instructors_dbo.Courses_name]
GO
ALTER TABLE [dbo].[Studentassignbatches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Studentassignbatches_dbo.Batches_batch_code] FOREIGN KEY([batch_code])
REFERENCES [dbo].[Batches] ([batch_code])
GO
ALTER TABLE [dbo].[Studentassignbatches] CHECK CONSTRAINT [FK_dbo.Studentassignbatches_dbo.Batches_batch_code]
GO
ALTER TABLE [dbo].[Studentassignbatches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Studentassignbatches_dbo.Courses_name] FOREIGN KEY([name])
REFERENCES [dbo].[Courses] ([name])
GO
ALTER TABLE [dbo].[Studentassignbatches] CHECK CONSTRAINT [FK_dbo.Studentassignbatches_dbo.Courses_name]
GO
ALTER TABLE [dbo].[Studentassignbatches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Studentassignbatches_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Studentassignbatches] CHECK CONSTRAINT [FK_dbo.Studentassignbatches_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDetails_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_dbo.UserDetails_dbo.Users_UserId]
GO
USE [master]
GO
