

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" />
    <link href="~/Style/jquery-ui.css" rel="stylesheet" />
    <link href="~/Style/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/Style/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/Style/jquery.countdownTimer.css" rel="stylesheet" />
    <link href="~/Style/jquery.ui.timepicker.css" rel="stylesheet" />
    <link href="~/Style/bootstrap.css" rel="stylesheet" />
    <link href="~/Style/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Script/jquery-1.9.0.min.js"></script>
    <script src="~/Script/jquery-2.0.3.js"></script>
    <script src="~/Script/jquery-ui.js"></script>
    <script src="~/Script/jquery.countdownTimer.js"></script>
    <script src="~/Script/jquery.js"></script>
    <script src="~/Script/jquery.ui.core.min.js"></script>
    <script src="~/Script/jquery.ui.tabs.min.js"></script>
    <script src="~/Script/jquery.ui.position.min.js"></script>
    <script src="~/Script/jquery.ui.timepicker.js"></script>
    <script src="~/Script/jquery.ui.widget.min.js"></script>
    <script src="~/Script/bootstrap.js"></script>
    <script src="~/Script/npm.js"></script>
    @RenderSection("Style",false)
    <title>_ExamLayout</title>
</head>
<body>
    <div> 
        @RenderSection("Html")
    </div>
</body>
</html>
@RenderSection("Script",false)
